[Yesterday 20:30] Narsimha CHELLABOINA
 
#environment variables
.env
 
 
# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
 
# Virtual environment
env/
venv/
 
# Django migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/
 
# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

 
# VSCode settings
.vscode/
 
# PyCharm settings
.idea/
 
# Ruff linter cache
.ruff_cache/
 
 